@import 'hp-hero';

.hp-container {
    max-width: 1180px;
    margin: 0 auto;
    border: 1px solid black;
}

.hp-section {
    margin-top: 100px;  
    margin-left: 20px;
    margin-right: 20px;

}


.recent-blog-post {
    border: 1px solid black;
    height: 200px;

    .homepage-recent-blog {
        border: 1px solid black;
        max-width: 750px;
        margin-top: 20px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;

        p {
            font-size: 16px !important; 
        }

        a {
            text-decoration: none;
            h2 {
                font-size: 16px !important;
            }
        }
    }
}