.hp-hero-section {
    margin-top: 50px !important;

    @include tablet {
        margin-top: 150px !important;
    }
}

.hp-hero {
    text-align: center;
    border: 1px solid black;
    max-width: 885px;
    padding: 0 3%;

    
    @include tablet {    
        display: flex;
        margin: 0 auto; 
        justify-content: space-between;
        padding: 0 1%;
    }

    h1 {
        @include tablet {    
            text-align: left;
        }

        .pre-title {
            font-style: italic;
            font-size: 18px;
            font-weight: 600;
        }
    
        .name {
            color: #212B61;
            font-weight: 700;
        }
    
        .profession {
            color: #373737;
            font-weight: 700;
        }
    
        .post {
            color: #5B5B5B;
            font-size: 16px;
        }
    }

    .hp-hero-container {

        .hp-hero-image {
            position: relative;
            border: 1px solid black;
            max-width: 300px;
            margin: 0 auto;

            img {
                max-width: 300px;
            }

            .hp-line {
                height: 6px;
                width: 400px;
                background-color: #212B61;
                position: absolute;
            }
    
            .left {
                top: 147px;
                right: 290px;

                @include tablet {
                    display: none;
                }
            }
    
            .right {
                top: 147px;
                right: -395px;
            }
        }
    }
}

.hp-hero-section {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 100px !important;
}

.homepage-contact {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 60px auto 0;
    font-weight: 600;
    font-size: 14px !important;

    @include tablet {    
        margin: 145px 0 0 ;
    }

    p {
        font-size: 14px !important;
    }

    .email {
        display: flex;
        align-items: center;
        border: 1px solid black;
        font-size: 14px !important;
    }

    .phone {
        display: flex;
        align-items: center;
        font-size: 14px !important;
    }

    img {
        margin-right: 17px;
    }
}