---
layout: default
title: Ruben Gutierrez's Website Design Blog
permalink: /blog/
---

<div class="container">

    <div class="blog-title">
        <h1>Blog Posts</h1>
        <p class="blog-sub-title">What I'm up too and my thoughts</p>
    </div>

    <div class="blog-section">
        {% for post in site.posts %}
            {% if post.categories contains 'blog-post' %}
                <div class="blog-entry">
                   
                    <a class="blog-info" href="{{post.url | relative_url}}">
                        <h2>{{post.title}}</h2>
                    </a>

                    <p>{{post.description}}</p>

                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>



