<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{%- feed_meta -%}
{%- seo -%}

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BXT5FSNGKR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BXT5FSNGKR');
</script>

<!-- SWUP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/swup/2.0.14/swup.js" integrity="sha512-sBwkf8kgcHlm0daQG0H0XRvtb8nwsuS3AJNRQuZ+ow2XDuM6JV9a5zRgjVHK+9C2NbRiwD5iV/bTEqMmHQXvFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
