.arrows {
    border: 1px solid green;
    max-width: 470px !important;
    margin: 0 auto;
    height: 168px;
    text-align: center;

    span {
        font-weight: 600;
    }

    .arrows-title {
        font-size: 48px;
        font-weight: 500;
        max-width: 570px;
        margin-bottom: 50px;
    }

}

.icons {
    max-width: 968px !important;
    border: 1px solid black;
    margin-top: 125px !important;
    display: flex;

    .icon-background {
        height: 165px;
        width: 165px;
        @include center;
        &:hover {
            background: #EFEFEF;
        }
        
        .icon-section {
            width: 70px;
            height: 70px;
            @include center;
            
        }
    }
}