html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}


* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;

    @include laptop {
        padding: 0;
    }
}

.full-container {
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}