.blog-title {
    border: 1px solid black;
    max-width: 528px !important;
    text-align: center;
    margin-top: 60px;
    margin: 60px auto 0;

    .blog-sub-title {
        color: #848484;
        max-width: 315px;
        line-height: 150%;
        border: 1px solid black;
        margin: 0 auto;

    }
}

.blog {
    width: 95%; 
    border: 1px solid #000;
    margin: 80px auto 120px;


    .blog-entry {
        margin: 0 auto 80px;
        padding: 0 10px;
        max-width: 570px;
        border: 1px solid red;
        text-align: left;

        a {
            text-decoration: none;
            color: #000;
            transition: .5s;

            &:hover {
                color: #212B61;
            }

            h2 {
                max-width: 445px;
                line-height: 150%;
                font-size: 18px !important;

                @include tablet {
                    font-size: 24px !important;
                }
            }
        }

        p {
            color: #848484;
            margin-top: 15px;
            line-height: 150%;
            font-size: 14px !important;

            @include tablet {
                font-size: 18pxho;
            }
        }
    }
}