.blog-title {
    margin-top: 60px;

    .blog-sub-title {
        line-height: 150%;
    }
}

.blog-section {
    margin: 80px auto 120px;

    .blog-entry {
        margin: 0 auto 80px;
        padding: 0 10px;
        width: 50%;  

        
        @include tablet {
            width: 50%;  
        }

        a {
            color: #000;
            transition: .5s;

            h2 {
                line-height: 150%;
                font-size: 18px;
                font-weight: 500;
            }
        }

        p {
            color: #3b3a3a;
            margin-top: 15px;
            line-height: 1.5 !important;

            @include tablet {
                font-size: 18px;
            }
        }
    }
}