body {
    font-family: 'Rubik', sans-serif;
}

p {
    font-size: 16px !important;
}

h1 {
    font-size: 32px;
    font-weight: 700;

    @include tablet {    
        font-size: 48px;
    }
}

h2 {
    font-size: 20px;
    line-height: 125%;
    font-weight: 500;

    @include tablet {    
        font-size: 28px;
    }
}

h3 {
    font-size: 18px;
    line-height: 125%;
    font-weight: 500;
    margin-bottom: 35px !important;

    @include tablet {    
        font-size: 22px;
    }
}

h4 {
    font-size: 20px !important;
}