.homepage-title {
    max-width: 570px;
    font-weight: 500;
}

.home-page-hero {
    height: 545px;  
    border: 1px solid black;
    display: flex;
    align-items: center;

    .inner-container {
        border: 1px solid black;
        height: 334px;  
        margin-left: 20px;
        margin-right: 20px;

        h1 {
            font-size: 48px;
        }
        
        p {
            margin-top: 32px;
            max-width: 536px;;
        }
    }
}

.skills-section {
    height: 420px;
    border: 1px solid black;
    display: flex;
    align-items: center;

    .skill-intro {
        border: 1px solid black;
        max-width: 287px;

        p {
            max-width: 390px;
        }
    }
}

.projects-section {
    border: 1px solid black;
    height: 600px;
    

    h3 {
        font-size: 24px;
        font-weight: 500;
    }

    .project {
        width: 377px;
        border: 1px solid black;

        .project-img {
            height: 300px;
            width: 375px;
            background: #D7D7D7;
        }
    
        p {
            max-width: 270px;
        }
    }
}