.home-page-hero {

    .home-page-hero-inner-container {
        max-width: 1100px;
        margin: 0 auto;

        h1 {
            padding: 50px 10px;
            text-transform: uppercase;
            
            .sub-header {
                font-size: 18px;
            }

            .sub-para {
                font-size: 18px;
            }
        }
    }
}

.home-page-blog {   
    
    .hp-posts {
        max-width: 1100px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 300px;

        .hp-post {
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;

            a {
                max-width:100px !important;
                
                h3 {
                    min-height: 40px;
                    line-height: 150%;
                    font-size: 22px  !important;

                    &:hover {
                        color: #383737;
                    }

                    @include tablet {
                        min-height: 60px;
                    }
                }
            }

            p {
                margin-top: 27px;
                font-size: 16px !important;
                color: #383737;
                line-height: 150%;
                font-weight: 400;
            }
        }
        
    }
}

.home-page-blog-post-title {
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: .25px;

    @include phablet {
        font-size: 20px !important;
    }
}

.hp-post {
    width: 50%;
    
  
}
