.home-page-blog {   
    
    .hp-posts {
        width: 90%;
        height: 60%;

        @include phablet {
            display: flex;
            flex-wrap: wrap;
        }

        @include laptop {
            width: 100%;

        }

        .hp-post {
            max-width: 415px;

            @include laptop {
                max-width: 320px;
            }

            a {
                
                h3 {
                    margin-top: 10px;
                    font-size: 20px;
                }
            }

            p {
                margin-top: 27px;
                color: #383737;
            }
        }
        
    }
}

