nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    width: 100%;


    .logo {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    
    .links {
        a {
            color: #000;
            margin-right: 37px;
            text-decoration: none;
            font-size: 14px;
        }
    }
}