nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    border-bottom: 1px rgb(0, 0, 0) !important;


    .logo {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    
    .links {

        a {
            color: #000;
            margin-right: 37px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}