nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    width: 100%;
    border-bottom: 1px rgb(179, 179, 179) !important;


    .logo {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    
    .links {

        a {
            color: #000;
            margin-right: 37px;
            text-decoration: none;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}