.post {
    max-width: 700px;
    margin: 100px auto 200px;
    padding: 0 20px;

    header {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
        letter-spacing: .2px;
    }
}
