.post {
    max-width: 700px;
    margin: 100px auto 125px;
    padding: 0 20px;

    header {
        margin-bottom: 20px;

        h1{
            font-weight: 800 !important;
            font-size: 36px !important; 
            margin-bottom: 16px;
        }
    }

    p, li {
        margin-bottom: 20px;
        letter-spacing: .2px;
        line-height: 1.5 !important;
    }
    

    ul,h2,h3,h4 {
        margin-bottom: 20px !important;
    }
}
