.post {
    max-width: 750px;
    margin: 100px auto 125px;
    padding: 0 20px;

    header {
        margin-bottom: 20px;

        h1{
            font-weight: 500 !important;
            font-size: 38px !important; 
            margin-bottom: 16px;
            line-height: 125%;
        }
    }

    p, li {
        margin-top: 20px;
        margin-bottom: 20px;
        letter-spacing: .2px;
        line-height: 1.5 !important;
    }
    

    ul,h2,h3,h4 {
        margin-bottom: 20px !important;
        margin-top: 35px !important;
        font-weight: 500 !important;
    }

    .h3, h4 {
        margin-bottom: 35px !important;

    }
}

.post-meta {
    margin-bottom: 25px !important; 
    color: #bcbcbc;
    font-size: 14px !important;
}

li {
    font-weight: 400 !important;
}

p {
    font-size: 20px !important;
    line-height: 1.6em;
}