.arrows {
    max-width: 470px ;
    margin: 50px auto 0;
    text-align: center;

    @include tablet {
        max-width: 500px;
    }

    span {
        font-weight: 600;
    }

    h1 {
        font-weight: 700;
        max-width: 570px;
        margin-bottom: 30px;

        @mixin laptop {
            font-size: 48px !important;
        }
    }

    p {
        margin-bottom: 15px;
    }

    a {
        background: #49B754 !important;
    }

}