@charset "UTF-8";
html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

@media (min-width: 1280px) {
  .container {
    padding: 0;
  }
}

.full-container {
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

p {
  font-size: 16px !important;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

@media (min-width: 767px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;
  line-height: 125%;
  font-weight: 500;
}

@media (min-width: 767px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 20px;
  line-height: 125%;
  font-weight: 500;
  margin-bottom: 35px !important;
}

@media (min-width: 767px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 18px !important;
}

@media (min-width: 767px) {
  h4 {
    font-size: 22px;
  }
}

h5 {
  font-size: 16px !important;
}

@media (min-width: 767px) {
  h5 {
    font-size: 20px;
  }
}

.home-page-hero h1 {
  padding: 50px 0px;
  margin: 20px 0 40px 0;
}

.home-page-hero h1 .title {
  font-weight: 700;
  text-transform: uppercase;
}

.home-page-hero h1 p {
  font-weight: 500;
  margin: 20px 0;
}

.home-page-hero h1 .button {
  font-size: 16px;
  color: #fff;
  padding: 14px 30px;
  background: #000;
}

.home-page-blog {
  margin-bottom: 100px;
}

.home-page-blog .hp-posts {
  margin-top: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 767px) {
  .home-page-blog .hp-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.home-page-blog .hp-post {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  padding-right: 3%;
}

@media (min-width: 767px) {
  .home-page-blog .hp-post {
    width: 33%;
    margin: 0;
  }
}

.home-page-blog .hp-post a {
  color: #000;
}

.home-page-blog .hp-post a:visited {
  color: #383737;
}

.home-page-blog .hp-post a h3 {
  line-height: 150%;
  font-size: 1em !important;
  margin-bottom: 0 !important;
}

.home-page-blog .hp-post a h3:hover {
  color: #383737;
}

.home-page-blog .hp-post a:visited {
  color: #000;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 73px;
}

nav .logo {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links {
  width: 30%;
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .links a {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

@media (min-width: 767px) {
  nav .links a {
    font-size: 14px;
  }
}

.footer {
  background-color: #000;
  padding: 70px 0;
  margin-top: 60px;
}

.footer span {
  color: #fff;
  font-size: 24px;
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.footer .links a {
  color: #fff;
  margin: 5px 0;
}

.blog-title {
  margin-top: 60px;
}

.blog-title .blog-sub-title {
  line-height: 150%;
}

.blog-section {
  margin: 80px auto 120px;
}

.blog-section .blog-entry {
  margin: 0 auto 80px;
  padding: 0 10px;
  width: 50%;
}

@media (min-width: 767px) {
  .blog-section .blog-entry {
    width: 50%;
  }
}

.blog-section .blog-entry a {
  color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.blog-section .blog-entry a h2 {
  line-height: 150%;
  font-size: 18px;
  font-weight: 500;
}

.blog-section .blog-entry p {
  color: #3b3a3a;
  margin-top: 15px;
  line-height: 1.5 !important;
}

@media (min-width: 767px) {
  .blog-section .blog-entry p {
    font-size: 18px;
  }
}

.post {
  max-width: 700px;
  margin: 60px auto 125px;
  padding: 0 20px;
}

.post header {
  margin-bottom: 20px;
  max-width: 900px;
}

.post header h1 {
  margin-bottom: 40px;
  line-height: 125%;
  font-weight: 600;
}

.post p, .post li {
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: .2px;
  line-height: 1.5 !important;
}

.post ul, .post h2, .post h3, .post h4, .post h5 {
  margin-bottom: 20px;
  margin-top: 35px;
  font-weight: 600;
}

.post .h3, .post h4 {
  margin-bottom: 35px !important;
}

li {
  font-weight: 400 !important;
}

p {
  font-size: 1.4em;
  line-height: 1.6em;
}

.margin {
  margin: 10px;
}

.padding {
  padding: 10px;
}

.transition-fade {
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

strong {
  font-weight: 500 !important;
}

code {
  font-family: MyFancyCustomFont, monospace;
  font-size: inherit;
  background-color: #ccc;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  background: #ffeff0;
  word-wrap: break-word;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .service {
  width: 50%;
  margin: 10px 0;
}

.services .service h3 {
  font-size: 18px;
}

.services .service p {
  font-size: 14px;
}

@media (min-width: 600px) {
  .services .service {
    width: 30%;
  }
}

.hero {
  margin: 50px auto;
}

.hero h1 {
  font-size: 40px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */