@import 'mixins';
@import 'base';
@import 'fonts';
@import 'svg-icons';
@import 'homepage';
@import 'nav';
@import 'blog';
@import 'post';


.margin {
    margin: 10px;
}

.padding {
    padding: 10px;
}

.transition-fade  {
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}

// Center 
.center {
    margin: 0 auto;
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 {
    display: flex;
    
    .child {
        width: 50%;
    }
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

strong {
    font-weight: 500 !important;
}