body {
    overflow-x: hidden !important;
}

@mixin phone {
@media (max-width: 599px) { @content; }
}
@mixin tablet {
@media (min-width: 767px) { @content; }
}
@mixin laptop {
@media (min-width: 1280px) { @content; }
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

@import 'arrows';
@import 'base';
@import 'homepage/homepage';
@import 'nav';
@import 'lhwd';

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.full-container {
    width: 100%;
}

h1 {
    font-size: 36px !important;
    font-weight: 500 !important;

    @include tablet {    
        font-size: 48px !important;
    }
}

h2 {
    font-size: 24px !important;

}

p {
    font-size: 16px !important;
}

* {
    border: 0 !important;
}