
@import 'mixins';
@import 'base';
@import 'arrows';
@import 'homepage';
@import 'nav';
@import 'lhwd';
@import 'blog';
@import 'post';

.border {
    border: 1px solid black;
}

.padding {
    padding: 10px;
}

.transition-fade  {
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}

// Center 
.center {
    margin: 0 auto;
}

h1,h2,h3 {
    color: #000;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 {
    display: flex;
    
    .child {
        width: 50%;
    }
}