body {
  overflow-x: hidden !important;
}

.arrows {
  border: 1px solid green;
  max-width: 470px !important;
  margin: 0 auto;
  height: 168px;
  text-align: center;
}

.arrows span {
  font-weight: 600;
}

.arrows .arrows-title {
  font-size: 48px;
  font-weight: 500;
  max-width: 570px;
  margin-bottom: 50px;
}

.icons {
  max-width: 968px !important;
  border: 1px solid black;
  margin-top: 125px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons .icon-background {
  height: 165px;
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons .icon-background:hover {
  background: #EFEFEF;
}

.icons .icon-background .icon-section {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: 'Archivo';
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.hp-hero-section {
  margin-top: 50px !important;
}

@media (min-width: 767px) {
  .hp-hero-section {
    margin-top: 150px !important;
  }
}

.hp-hero {
  text-align: center;
  border: 1px solid black;
  max-width: 885px;
  padding: 0 3%;
}

@media (min-width: 767px) {
  .hp-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1%;
  }
}

@media (min-width: 767px) {
  .hp-hero h1 {
    text-align: left;
  }
}

.hp-hero h1 .pre-title {
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
}

.hp-hero h1 .name {
  color: #212B61;
  font-weight: 700;
}

.hp-hero h1 .profession {
  color: #373737;
  font-weight: 700;
}

.hp-hero h1 .post {
  color: #5B5B5B;
  font-size: 16px;
}

.hp-hero .hp-hero-container .hp-hero-image {
  position: relative;
  border: 1px solid black;
  max-width: 300px;
  margin: 0 auto;
}

.hp-hero .hp-hero-container .hp-hero-image img {
  max-width: 300px;
}

.hp-hero .hp-hero-container .hp-hero-image .hp-line {
  height: 6px;
  width: 400px;
  background-color: #212B61;
  position: absolute;
}

.hp-hero .hp-hero-container .hp-hero-image .left {
  top: 147px;
  right: 290px;
}

@media (min-width: 767px) {
  .hp-hero .hp-hero-container .hp-hero-image .left {
    display: none;
  }
}

.hp-hero .hp-hero-container .hp-hero-image .right {
  top: 147px;
  right: -395px;
}

.hp-hero-section {
  border: 1px solid black;
  text-align: center;
}

.homepage-contact {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
  margin: 60px auto 0;
  font-weight: 600;
  font-size: 14px !important;
}

@media (min-width: 767px) {
  .homepage-contact {
    margin: 145px 0 0;
  }
}

.homepage-contact p {
  font-size: 14px !important;
}

.homepage-contact .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  font-size: 14px !important;
}

.homepage-contact .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px !important;
}

.homepage-contact img {
  margin-right: 17px;
}

.hp-container {
  max-width: 1180px;
  margin: 0 auto;
  border: 1px solid black;
}

.hp-section {
  margin-top: 100px;
}

.hp-about-section {
  border: 1px solid black;
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 767px) {
  .hp-about-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hp-about-section p {
  line-height: 150%;
}

.hp-about-section .hp-projects, .hp-about-section .hp-about, .hp-about-section .hp-tech {
  border: 1px solid black;
  max-width: 450px;
  margin-top: 49px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.hp-about-section .hp-projects .hp-title, .hp-about-section .hp-about .hp-title, .hp-about-section .hp-tech .hp-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hp-about-section .hp-projects h2, .hp-about-section .hp-about h2, .hp-about-section .hp-tech h2 {
  color: #212B61;
  margin-left: 14px;
  font-weight: 700 !important;
}

.hp-about-section .hp-projects p, .hp-about-section .hp-about p, .hp-about-section .hp-tech p {
  color: #302C2C;
  margin-top: 50px;
}

@media (min-width: 767px) {
  .hp-about {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}

@media (min-width: 767px) {
  .hp-tech {
    margin-left: auto !important;
    margin-right: 0 !important;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 73px;
  width: 100%;
}

nav a {
  color: #000;
  margin-right: 37px;
  text-decoration: none;
  font-size: 14px;
}

.lh-section {
  height: 545px;
}

.lh-section .container {
  border: 1px solid red;
}

.lh-section .container .hero {
  border: 1px solid orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 475px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 767px) {
  .lh-section .container .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1280px) {
  .lh-section .container .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.lh-section .container .hero .hero__left {
  border: 1px solid yellow;
  margin: 60px 50px 0;
}

@media (min-width: 767px) {
  .lh-section .container .hero .hero__left {
    max-width: 425px;
  }
}

@media (min-width: 1280px) {
  .lh-section .container .hero .hero__left {
    max-width: 600px;
  }
}

.lh-section .container .hero .hero__left img {
  max-width: 32px;
}

.lh-section .container .hero .hero__left h1 {
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 25px;
  color: #000;
}

.lh-section .container .hero .hero__left p {
  margin-bottom: 50px;
  max-width: 434px;
}

.lh-section .container .hero .hero__right {
  text-align: center;
  border: 1px solid black;
  margin-top: 34px;
}

.lh-section .container .hero .hero__right img {
  width: 99%;
  max-width: 320px;
}

.services-section {
  background: #42509E;
  color: #fff;
}

.services-section .service-section-inner {
  border: 2px solid gold;
}

@media (min-width: 1280px) {
  .services-section .service-section-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.services-section .service-section-inner .services__title {
  max-width: 485px;
  height: 250px;
  border: 1px solid black;
  margin: 150px auto 0;
}

.services-section .service-section-inner .services__title .services__title-inner {
  margin: 40px 20px 0;
  text-align: center;
  border: 2px solid gold;
}

@media (min-width: 1280px) {
  .services-section .service-section-inner .services__title .services__title-inner {
    text-align: left;
    margin: 0;
  }
}

.services-section .service-section-inner .services__title .services__title-inner h2 {
  max-width: 390px;
  font-weight: 400;
  line-height: 125%;
}

.services-section .service-section-inner .services__title .services__title-inner p {
  max-width: 420px;
  font-size: 14px;
  line-height: 150%;
}

.services-section .service-section-inner .services {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid gold;
  max-width: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767px) {
  .services-section .service-section-inner .services {
    max-width: 800px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services-section .service-section-inner .services p {
  font-size: 14px;
}

.services-section .service-section-inner .services .service {
  width: 285px;
  height: 250px;
  border: 1px solid green;
}

.services-section .service-section-inner .services .service .inner-service {
  width: 220px;
  margin: 65px auto 0;
}

.services-section .service-section-inner .services .service .inner-service h3 {
  font-size: 18px;
  font-size: 400;
}

.services-section .service-section-inner .services .service .inner-service p {
  margin-top: 25px;
  line-height: 125%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.full-container {
  width: 100%;
}

h1 {
  font-size: 36px !important;
  font-weight: 500 !important;
}

@media (min-width: 767px) {
  h1 {
    font-size: 48px !important;
  }
}

h2 {
  font-size: 24px !important;
}

p {
  font-size: 16px !important;
}

* {
  border: 0 !important;
}
/*# sourceMappingURL=style.css.map */